{% extends "base_slogan.html" %}
{% block styles %}
    {{ super() }}
    {% endblock %}
    {% block main_content %}
    <div id="titre-img">
        <div id="test">
            <img id="img-membre" src="{{ url_for('static', filename='images/' + concert[0][1]) }}" alt="image du groupe">
            <h1>
                Concert : {{ concert[0][0].get_nom_c() }}
            </h1>
        </div>
        {% if le_spectateur.get_id_p()!=-1 %}
            {% if future_concert %}
                {% if not if_concert_acheter_by_spec %}
                <form action="{{ url_for('acheter_le_billet', id=concert[0][0].get_id_c()) }}" method="post" class="achat-form">
                    <a href="{{ url_for('acheter_le_billet', id=concert[0][0].get_id_c()) }}" class="button-achat">
                        <div class="button-wrapper">
                            <div class="text">Buy Now</div>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                </svg>
                            </span>
                        </div>
                    </a>
                </form>
                {% else %}
                    <form action="{{ url_for('annule_le_billet', id=concert[0][0].get_id_c()) }}" method="post" class="achat-form">
                        
                            <input type="submit" value="Annuler l'achat du concert" id="input_annule" class="button-achat">

                        
                    </form>
                {% endif %} 
            {% endif %}
                
                
        {% endif %}
        
       

    </div>

    <div id="grp">
        <h2>Dans la soirée</h2>
    </div>
    <div id="tout-container">
        <div id="tout">
            {% if liste_groupe %}
                    {% for grp,image,debut,fin in liste_groupe %}
                        <div class="dans-boucle">
                            <div class="contain-infos-grp img-contain"><img class="groupe-img" src="{{ url_for('static', filename='images/' + image) }}" alt="image des groupes"></div>
                            <div class="contain-infos-grp"><a class="aa" href="{{ url_for('groupe',id=grp.get_id_g())}}">{{ grp.get_nom() }}</a></div>
                            <div class="contain-infos-grp"><p>{{ debut }}</p></div>
                            <div class="contain-infos-grp"><p>{{ fin }}</p></div>

                        </div>
                    {% endfor %}
            {% endif %}
            {% if liste_groupe == [] %}
                <p>Il n'existe pas encore de groupe de music</p>
            {% endif %}
        </div>
    </div>

{% endblock %}