{% extends "base_slogan.html" %}
{% block styles %}
    {{ super() }}
    {% endblock %}
    {% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Liste des concerts</h1>
                {% if liste_concert|length == 0 %}
                    <p>Aucun concert n'est disponible pour le moment</p>
                {% else %}
                    {% for concert in liste_concert %}
                        <div class="box-concert">
                            <h3>{{ concert.get_nom_c() }}</h3>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}