



@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body, html{
    margin: 0;

}

@font-face {
    font-family: 'Leckerli One';
    src: url('../static/fonts/Leckerli_One/LeckerliOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


header {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-bottom: 5%;
}

.top-page{
    background-image: linear-gradient(to bottom, #515151, #515151, #515151, #515151, #515151, #5e5e5e, #6b6b6b, #797979, #999999, #bababa, #dcdcdc, #ffffff);

  flex-basis: 100%; 
  color: white;
}


nav{
  flex-basis: 100%;
}

header ul{
  width: 100%;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  padding: 0%;

}
header ul li{
  display: flex;
  flex-basis: 20%;
  margin-inline: auto;
  justify-content: center;
  border: #515151 1px solid;
  border-radius: 15px;
  background-color: #515151;
}
.top-page a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.top-page h1{
    margin-left:2% ;
}

header ul a{
  display: block;
  flex-basis: 100%;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

}



header ul li:hover{
    
    background-color: #b8b8b8a3;
  }

