#tout-container {
    overflow-x: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

#tout {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 15px;
    margin-top: 4vh;
    flex-direction: column;
}
.dans-boucle{
    display:flex;
    width :95%;
    justify-content: space-around;
    border-bottom: 0.5px solid rgb(83, 83, 83);
}
.groupe-img{
    width: 6vw;
    height: 7vh;
    border-radius: 35%;
}
.img-contain{
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left:5px;
}

.contain-infos-grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}




.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
  }
  
  .bin-top {
    transform-origin: bottom right;
  }
  .button:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
  }
  


  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    gap: 8px;
    height: 45px;
    width: 150px;
    border: none;
    background: rgb(74, 180, 50);
    border-radius: 50px;
    cursor: pointer;
    position: relative;
  }
  
  .lable {
    line-height: 22px;
    font-size: 17px;
    color: #fff;
    margin-left: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button .span {
    border-radius: 50%;
    background-color: rgb(48, 129, 29);
    padding: 10px;
    position: absolute;
    left: 0;
  }
  
  .button:hover {
    background: rgb(48, 129, 29);
  }
  
  .button:hover .svg-icon {
    animation: slope 0.8s linear infinite;
  }
  
  @keyframes slope {
    0% {
    }
  
    50% {
      transform: rotate(15deg);
    }
  
    100% {
    }
  }