@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
    margin: 0;
    overflow: hidden;
}



@font-face {
    font-family: 'Leckerli One';
    src: url('../static/fonts/Leckerli_One/LeckerliOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
  background-color: #2EBEDD;
  min-width: 100%;
  min-height: 3vw;
  display: flex;
  border-bottom: 2px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.top-page{
  width: 33%;
}
#form-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

#utilisateur{
  display: flex;
  flex-direction: row-reverse;
  margin-top :4.5vh;
  float: right;
  width: 33%;
}

.app-name{
    font-family: 'Leckerli One', cursive;
    color: white;
    font-size: 64px;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 12vh;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: scroll;
  margin: 0;
  position: fixed;
  background-image: url('../static/images/nuages_infini_v1.png');
  background-size: cover;
  -webkit-animation: slidein 6000000s infinite linear;
  animation: slidein 6000000s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-size: 150%;
  min-width: 100%;
}


.form-label{
  padding-top: 50px;
}

a{
  text-decoration: none;
}

.copyright{
  position: fixed;
  bottom: 0;
  left: 10px;
  margin-bottom: 15px;
}

@media (max-height: 540px) or (max-width: 748px) {
  header {
    flex-direction: column; /* Passer à une disposition en colonne */
    align-items: center; /* Centrer les éléments en colonne */
  }

  .top-page,
  #form-search,
  #utilisateur {
      width: 100%;
      margin-top: 0; /* Supprimer la marge en haut */
      justify-content: center;
      align-items: center;
      display: flex;

  }
  .top-page>h1{
    justify-content: center;
    align-items: center;
  }

  .search-bar {
      flex-direction: column; /* Passer à une disposition en colonne dans la barre de recherche */
      align-items: center; /* Centrer les éléments dans la barre de recherche */
  }

  .search-bar input[type="text"] {
      width: 100%; /* Occuper toute la largeur disponible dans la barre de recherche */
      margin-bottom: 10px; /* Ajouter un espace entre le champ de recherche et le bouton */
  }


}







.search-bar {
  display: inline-block;
  position: relative;
}

.search-bar input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: .9s ease;
}

.search-bar button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: #2EBEDD;
}



#avant-connexion{
  background-color: #fff; 
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 1px;
  overflow: hidden;
  height: 30px; 
  justify-content: center;
  align-items: center;
  width: 130px;
}


#apres-connexion {
  background-color: #fff; 
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 1px;
  overflow: hidden;
  height: 30px; 
  max-height: 70px;
  justify-content: center;
  align-items: center;
  width: 150px;
}
#apres-connexion:hover{
  height: 70px;
}

#apres-connexion ul,#avant-connexion ul {
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#apres-connexion ul li,#avant-connexion ul li {
  margin-bottom: 10px;
  margin-top: 3px;
  justify-content: center;
  align-items: center;
}

#apres-connexion a,#avant-connexion a {
  text-decoration: none;
  color: #333; /* Change the text color as needed */
  font-size: 16px;
  margin-left: 15px;
}




#nav-bar {
  background-color: white;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}


#contient {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}


.lien-dans-nav a {
  text-decoration: none;
  color: #5e5e5e;
  font-size: 16px;
  margin-left: 160px;
  margin-right: 230px;
}


.lien-dans-nav:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
