@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
    margin: 0;
    overflow: hidden;
}

.img{
  width: 115px;
  height: 140px;
  object-fit: cover;
  padding: 2px;
  border-radius: 15px;
}

@font-face {
    font-family: 'Leckerli One';
    src: url('../static/fonts/Leckerli_One/LeckerliOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
  background-color: #2EBEDD;
  min-width: 100%;
  min-height: 3vw;
  display: flex;
  border-bottom: 2px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  justify-content: center;
}
.top-page{
  width: 33%;
}
#form-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

#utilisateur{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  float: right;
  width: 33%;
}

#titre{
    font-family: 'Leckerli One', cursive;
    color: white;
    font-size: 64px;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 5vh;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: scroll;
  margin: 0;
  position: fixed;
  min-width: 100%;
  overflow-y: auto;
}


.form-label{
  padding-top: 50px;
}

a{
  text-decoration: none;
}

.copyright{
  position: fixed;
  bottom: 0;
  left: 10px;
  margin-bottom: 15px;
}

@media (max-height: 540px) or (max-width: 748px) {
  header {
    flex-direction: column; /* Passer à une disposition en colonne */
    align-items: center; /* Centrer les éléments en colonne */
  }

  .top-page,
  #form-search,
  #utilisateur {
      width: 100%;
      margin-top: 0; /* Supprimer la marge en haut */
      justify-content: center;
      align-items: center;
      display: flex;

  }
  .top-page>h1{
    justify-content: center;
    align-items: center;
  }

  .search-bar {
      flex-direction: column; /* Passer à une disposition en colonne dans la barre de recherche */
      align-items: center; /* Centrer les éléments dans la barre de recherche */
  }

  .search-bar input[type="text"] {
      width: 100%; /* Occuper toute la largeur disponible dans la barre de recherche */
      margin-bottom: 10px; /* Ajouter un espace entre le champ de recherche et le bouton */
  }


}







.search-bar {
  display: inline-block;
  position: relative;
}

.search-bar input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: .9s ease;
}

.search-bar button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: #2EBEDD;
}



#nav-bar {
  background-color: white;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}


#contient {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.lien-dans-nav{
  justify-content: center;
  align-items: center;
  display: flex;
}

.lien-dans-nav a {
  text-decoration: none;
  color: #5e5e5e;
  font-size: 16px;
}


.lien-dans-nav:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}





.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: #4e99e9;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: #212121;
  border: 2px solid #4e99e9;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #4e99e9;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #4e99e9;
  color: #212121;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #4e99e9;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}


.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}



#titre-search{
  display: flex;
  justify-content: space-around;
}




.connectBtn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 600;
  background: linear-gradient( to right,#8be3fc,#576bff);
  box-shadow: 0 20px 30px -7px rgba(97, 118, 238, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.connectBtn:hover {
  box-shadow: none;
  transform: translate(0px, 2.2px);
}

.connectBtn:active {
  transform: scale(0.96) translate(0px, 3.2px);
}

.aa{
  text-decoration: none;
  color:#5e5e5e;
}
.aa:hover{
  text-decoration: none;
  color:#131212;
}